version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile.dev
    command: ["/app/docker/dev/cmd_start_web.sh"]
    env_file:
      - .env
    environment:
      RUN_DJANGO_MIGRATIONS: "true"
    volumes:
      - .:/app
      - venv-data:/opt/venv
      - static-data:/app/static
      - media-data:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
      - rabbitmq
      - redis
    networks:
      - app-network


  celery:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile.dev
    command: ["/app/docker/dev/celery/cmd_start_celery.sh"]
    env_file:
      - .env
    environment:
      RUN_DJANGO_MIGRATIONS: "false"
    volumes:
      - .:/app
      - venv-data:/opt/venv
    depends_on:
      - db
      - rabbitmq
    networks:
      - app-network


  celery_beat:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile.dev
    command: ["/app/docker/dev/celery/cmd_start_celery_beat.sh"]
    env_file:
      - .env
    environment:
      RUN_DJANGO_MIGRATIONS: "false"
    volumes:
      - .:/app
      - venv-data:/opt/venv
    depends_on:
      - db
      - rabbitmq
    networks:
      - app-network


  db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    env_file:
      - .env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  redis:
    image: redis:6.0
    networks:
      - app-network

volumes:
  postgres_data:
  rabbitmq_data:
  static-data:
  media-data:
  venv-data:

networks:
  app-network:
    driver: bridge